ion-grid {
    height: 100%;
    border: 2px solid black;
    background: url('../../assets/background/paths.jpg') no-repeat ;
    background-size: 130% 100%;
  }

  ion-card  {
    background-color: aliceblue;
    opacity: o.5;
  }


